[Unit]
Description=Collect news every 30 minutes

[Timer]
OnCalendar=*-*-* *:00/30:00
Persistent=false
Unit=arthasignal-news.service

[Install]
WantedBy=timers.target
